* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}
*:focus {
  outline: none;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.heading {
  padding-bottom: 3rem;
}
.todo {
  margin: 0.5rem auto;
  background: #fff;
  border-radius: 40px;
  max-width: 500px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 32px 0 rgba(38, 39, 51, 0.219);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.8s ease;
}

.blur {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(66, 66, 66, 0.5);
  margin: 0.5rem auto;
  border-radius: 40px;
  max-width: 500px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 32px 0 rgba(38, 39, 51, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 0.8;
}

.todo .todo__text {
  font-size: 1rem;
  font-weight: bold;
}

.todo .buttons {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.remove {
  font-size: 10rem;
}
.todo .buttons .remove {
  background-color: #ffedd2;
}
.todo .buttons .completed {
  background: linear-gradient(90deg, #57c84d 0%, #abe098 100%);
}
.todo .buttons .remove:hover {
  background-color: #fddcab;
}
.todo .buttons .completed:hover {
  background: linear-gradient(90deg, #2eb62c 0%, #83d475 100%);
}
.todo .buttons .button {
  color: #555;
  width: 186px;
  height: 54px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  margin: auto 12px;
  cursor: pointer;
}
.todo .buttons .button:hover {
  color: #fff;
}
/* to make the trash and check icons unclickable */
.todo .buttons .button i {
  pointer-events: none;
}

.todo .buttons .button:first {
  margin-left: 0px;
}

@media only screen and (max-width: 768px) {
  .todo {
    max-width: 300px;
    width: 90%;
  }
  .todo .buttons {
    margin-top: 50px;
    flex-direction: column;
  }
  .todo .buttons .button {
    margin: 0.3rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.input-label {
  display: flex;
  position: relative;
}
.form-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  bottom: 30px;
  right: 7rem;
  z-index: 10;
}

.icon {
  position: absolute;
  /* Adjust these values accordingly */
  top: 13px;
  left: 5px;
  right: 5px;
  color: rgb(250, 162, 79);
}
.conatin {
  flex: 1;
}

.todo-list {
  padding-top: 5rem;
}

.buttons i {
  font-size: 1rem;
}

.swipe {
  transform: translateX(10rem);
  opacity: 0;
}
